.calculator {
    border: 1px solid black;
    margin: 5px 800px;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

.body {
    display: flex;
}

.digitContainer ul {
    display: flex;
}